node_modules
npm-debug.log
.git
.gitignore
.env
.nyc_output
coverage
.coverage
.vscode
.idea
*.log
database.db
database/dump.sql
database/test_user_status.sql
docs/
notes/
other/
public/uploads/*
!public/uploads/.gitkeep
src/public/uploads/*
!src/public/uploads/.gitkeep